<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=j, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
            background-color: blanchedalmond;
        }

        .price {
            color: aqua;
        }

        .image {
            border: 1px solid black;
            padding: 6px;
            background-color: whitesmoke;
            border-radius: 6px;
        }

        .title {
            background-color: brown;
            color: white;
            padding: 3px;

        }
    </style>

</head>

<body>
    <h1>書籍列表</h1>
    {% for id in books %}
    <p class="title">書名：{{books[id]["name"]}}</p>
    <p>價格：<span class="price">${{books[id]["price"]}}</span></p>
    <p><img class="image" src="{{books[id]['image_url']}}" alt="">
    </p>
    <a href="https://www.books.com.tw">購買連結</a>
    <hr>
    {% endfor %}
</body>

</html>